@model Boy8.Models.Story

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Details</h2>
    <div>
        <h4>Story</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Abstract)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abstract)
            </dd>





            <dt>
                @Html.DisplayNameFor(model => model.StoryCreatedTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoryCreatedTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SyncTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SyncTime)
            </dd>





            <dt>
                @Html.DisplayNameFor(model => model.SyncAccount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SyncAccount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SyncComment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SyncComment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SyncOther)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SyncOther)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StoryId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>