<!DOCTYPE html>
<html lang="en" class="html-v">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    @*<link href="carousel.css" rel="stylesheet">*@
</head>
<body class="bb-body">
    <div class="container-full">
        <header class="navbar navbar-transparent" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/home/Index" class="navbar-brand">
                        七仔
                    </a>
                </div> <!--/.navbar-header -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav bb-nav">
                        @if (User.IsInRole("parent"))
                        {
                            <li>@Html.ActionLink("创建", "Create", "Story")</li>
                        }
                        <li>@Boy8.Helper.BoyLinkExtension.ActionLinkWithBadge("42", "故事 ", "Index", "Story")</li>
                        <li>@Boy8.Helper.BoyLinkExtension.ActionLinkWithBadge("35", "照片流", "picstream", "Home")</li>
                        <li>@Html.ActionLink("精彩时刻", "Videos", "Home")</li>
                        @*<a href="../Story">故事<span class="badge"> 42</span></a>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("本站简介", "About", "Home")</li>
                                <li>@Html.ActionLink("旧版", "V1", "Home")</li>
                                <li><a href="http://www.weibo.com/u/1712451982">爸爸的微博</a></li>
                                <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </header>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

